<% if @saved_monsters.length > 0 %>
    <div class="container my-5">
        <h1>Saved Monsters</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Group</th>
                    <th scope="col">Challenge Rating</th>
                    <th scope="col">Size</th>
                    <th scope="col">Alignment</th>
                    <th scope="col">Save</th>
                </tr>
            </thead>
            <tbody>
                <% for monster in @saved_monsters %>
                    <tr>
                        <th scope="row"><a href="<%= monsters_path %>/<%= monster['slug'] %>"><%= monster['name'] %></a></th>
                        <td><%= monster['type'] %></td>
                        <td><%= monster['group'] %></td>
                        <td><%= monster['challenge_rating'] %></td>
                        <td><%= monster['size'] %></td>
                        <td><%= monster['alignment'].titleize %></td>
                        <td><%= save_monster_button monster['slug'] %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>


<div class="container my-5">
    <h1>All Monsters</h1>

        <form action="/monsters/" method="GET" class="w-50 mb-3">
        <div class="mb-2">
            <label for="search" class="form-label">Search Items</label>
            <input type="text" name="search" value="<%=params[:search]%>" placeholder="Search..." class="form-control" aria-label="Search magic items">
        </div>

        <div class="mb-2">
            <label for="cr__gte" class="form-label">Min Challenge Rating</label>
            <input type="number" name="cr__gte" value="<%=params[:cr__gte]%>" placeholder="0" step=".01" class="form-control" aria-label="Min challenge rating">

            <label for="cr__lte" class="form-label">Max Challenge Rating</label>
            <input type="number" name="cr__lte" value="<%=params[:cr__lte]%>" placeholder="0" step=".01" class="form-control" aria-label="Max challenge rating">
        </div>

        <input type="submit" value="Search" class="btn btn-primary">
        <%= link_to "Clear Filters", monsters_path, class: "btn btn-link" %>
    </form>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Group</th>
                <th scope="col">Challenge Rating</th>
                <th scope="col">Size</th>
                <th scope="col">Alignment</th>
                <th scope="col">Save</th>
            </tr>
        </thead>
        <tbody>
            <% for monster in @all_monsters %>
                <tr>
                    <th scope="row"><a href="<%= monsters_path %>/<%= monster['slug'] %>"><%= monster['name'] %></a></th>
                    <td><%= monster['type'] %></td>
                    <td><%= monster['group'] %></td>
                    <td><%= monster['challenge_rating'] %></td>
                    <td><%= monster['size'] %></td>
                    <td><%= monster['alignment'].titleize %></td>
                    <td><%= save_monster_button monster['slug'] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%# todo: refactor to helper %>
<% if @previous || @next %>
    <div class="container my-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <% if @previous %>
                    <li class="page-item"><a class="page-link" href="<%= @previous.split('/').last %>">Previous</a></li>
                <% end %>
                <% if @next %>
                    <li class="page-item"><a class="page-link" href="<%= @next.split('/').last %>">Next</a></li>
                <% end %>
            </ul>
        </nav>
    </div>
<% end %>