<div class="container mt-8 stack-sm">
    <h1 class="heading-mega">Monsters</h1>
</div>

<% if @saved_monsters.any? %>
    <div class="container mt-8 mb-12 shallow-stack-sm">
        <h1 class="heading-large">Saved Monsters</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Group</th>
                    <th>Challenge Rating</th>
                    <th>Size</th>
                    <th>Alignment</th>
                    <th>Save</th>
                </tr>
            </thead>
            <tbody>
                <% for monster in @saved_monsters %>
                    <tr>
                        <td scope="row">
                            <a href="<%= to_url monsters_path, monster['slug'] %>">
                                <strong><%= monster['name'] %></strong>
                            </a>
                        </td>
                        <td><%= monster['type'] %></td>
                        <td><%= monster['group'] %></td>
                        <td><%= monster['challenge_rating'] %></td>
                        <td><%= monster['size'] %></td>
                        <td><%= monster['alignment'].titleize %></td>
                        <td><%= save_monster_button monster['slug'] %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>


<div class="container mt-8 mb-12 shallow-stack-sm">
    <h2 class="heading-large">Search All Monsters</h2>

        <form action="/monsters/" method="GET" class="form container-small">
        <div class="form-item">
            <label for="search">Search Items</label>
            <input class="input" type="text" name="search" value="<%=params[:search]%>" placeholder="Search..." class="form-control" aria-label="Search magic items">
        </div>

        <div class="form-item">
            <label for="cr__gte">Min Challenge Rating</label>
            <input class="input" type="number" name="cr__gte" value="<%=params[:cr__gte]%>" placeholder="0" step=".01" class="form-control" aria-label="Min challenge rating">
        </div>
        <div class="form-item">
            <label for="cr__lte">Max Challenge Rating</label>
            <input class="input" type="number" name="cr__lte" value="<%=params[:cr__lte]%>" placeholder="0" step=".01" class="form-control" aria-label="Max challenge rating">
        </div>

        <input type="submit" value="Search" class="button button-primary button-small mr-2">
        <%= link_to "Clear Filters", monsters_path %>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Group</th>
                <th>Challenge Rating</th>
                <th>Size</th>
                <th>Alignment</th>
                <th>Save</th>
            </tr>
        </thead>
        <tbody>
            <% for monster in @all_monsters %>
                <tr>
                    <td scope="row">
                        <a href="<%= to_url monsters_path, monster['slug'] %>">
                            <strong><%= monster['name'] %></strong>
                        </a>
                    </td>
                    <td><%= monster['type'] %></td>
                    <td><%= monster['group'] %></td>
                    <td><%= monster['challenge_rating'] %></td>
                    <td><%= monster['size'] %></td>
                    <td><%= monster['alignment'].titleize %></td>
                    <td><%= save_monster_button monster['slug'] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%# todo: refactor to helper %>
<% if @previous || @next %>
    <div class="container my-5">
        <nav aria-label="Pagination navigation">
                <% if @previous %>
                    <a class="button button-secondary button-small" href="<%= get_slug @previous %>">Previous</a>
                <% end %>
                <% if @next %>
                    <a class="button button-secondary button-small" href="<%= get_slug @next %>">Next</a>
                <% end %>
        </nav>
    </div>
<% end %>

