<div class="container-small mt-8 shallow-stack-sm">
    <h1 class="heading-mega">Sign Up</h1>

    <%= form_with model: @user, url: sign_up_path, class: "form", local: true do |form| %>
        <% if @user.errors.any? %>
            <div class="alert alert-error my-2">
                <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= "#{message}" %></li>
                <% end %>
                </ul>
            </div>
        <% end %>

        <div class="form-item">
            <%= form.label :email %>
            <%= form.text_field :email, class: "input", placeholder: "user@example.com" %>
        </div>
        <div class="form-item">
            <%= form.label :username %>
            <%= form.text_field :username, class: "input", placeholder: "user123" %>
        </div>
        <div class="form-item">
            <%= form.label :password %>
            <%= form.password_field :password, class: "input" %>
        </div>
        <div class="form-item">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, class: "input" %>
        </div>

        <%= form.submit "Get Started", data: {turbo: false}, class: "button button-primary" %>
    <% end %>

    <p>Already have an account? <%= link_to "Log in", sign_in_path %></p>
</div>