<div class="container my-5">
    <h1>Sign Up</h1>
</div>

<div class="container mb-5">
    <div class="w-50">
        <%= form_with model: @user, url: sign_up_path, local: true do |form| %>
            <% if @user.errors.any? %>
                <div class="alert alert-danger">
                    <% @user.errors.full_messages do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>
            <% end %>

            <div class="mb-2">
                <%= form.label :email %>
                <%= form.text_field :email, class: "form-control", placeholder: "user@example.com" %>
            </div>
            <div class="mb-2">
                <%= form.label :username %>
                <%= form.text_field :username, class: "form-control", placeholder: "user123" %>
            </div>
            <div class="mb-2">
                <%= form.label :password %>
                <%= form.password_field :password, class: "form-control" %>
            </div>
            <div class="mb-3">
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation, class: "form-control" %>
            </div>

            <%= form.submit "Get Started", data: {turbo: false}, class: "btn btn-primary" %>
        <% end %>
    </div>
</div>