
<section class="modal-body shallow-stack-sm">
    <h2 class="heading-mega">
        Edit <%= type %>
    </h2>
    
    <%= form_with model: form_model, url: form_url, class: "container-content", local: true, method: :put do |form| %>
        <div class="form-item">
            <%= form.label :title %>
            <%= form.text_field :title, class: "input" %>
        </div>
        <div class="form-item">
            <%= form.label :subtitle %>
            <%= form.text_field :subtitle, class: "input" %>
        </div>
        <div class="form-item">
            <%= form.label :description %>
            <%= form.text_area :description, class: "input", rows: 12 %>
        </div>

        <div class="form-item">
            <%= form.label :date_started %>
            <%= form.date_field :date_started, class: "input" %>
        </div>
        <% if type == "Campaign" %>
            <div class="form-item">
                <%= form.label :date_ended %>
                <%= form.date_field :date_ended, class: "input" %>
            </div>
        <% end %>

        <div class="form-item">
            <%= form.label :shared_notes %>
            <%= form.text_area :shared_notes, class: "input", rows: 12 %>
        </div>
        <div class="form-item">
            <%= form.label :private_notes %>
            <%= form.text_area :private_notes, class: "input", rows: 12 %>
        </div>

        <div class="form-item">
            <%= form.label :public %>
            <%= form.check_box :public, class: "input" %>
        </div>
        <div class="form-item">
            <%= form.label :archived %>
            <%= form.check_box :archived, class: "input" %>
        </div>

        <%= form.submit "Save", data: {turbo: false}, class: "button button-primary" %>
        <button
            onclick="document.getElementById('edit-modal').classList.add('hidden')"
            data-type="close"
            class="button"
            >Close</button>
    <% end %>
</section>
