<div class="container mt-8 shallow-stack-sm">
    <h1 class="heading-mega">Create New Adventure</h1>
    <h2>Create a new adventure for <%= @campaign['title'] %></h2>

    <%= form_with model: @adventure, url: "/campaigns/#{@campaign['slug']}/adventures/create", class: "form container-small", local: true do |form| %>
        <% if @adventure.errors.any? %>
            <div class="alert alert-error my-2">
                <% @adventure.errors.full_messages.each do |message| %>
                    <div><%= message %></div>
                <% end %>
            </div>
        <% end %>

        <div class="form-item">
            <%= form.label :title %>
            <%= form.text_field :title, class: "input", placeholder: "Our Adventure" %>
        </div>

        <%= form.submit "Create", data: {turbo: false}, class: "button button-primary" %>
    <% end %>
</div>