<%# todo: add helper: `is_owner @adventure`, `is_owner @campaign`, `is_owner @comment` %>
<% if @is_owner == true %>
    <div class="container mt-5 accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Edit Adventure
                </button>
            </h2>

            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container m-5">
                        <%= form_with model: @adventure, url: "/campaigns/#{@campaign['slug']}/adventures/#{@adventure['slug']}", local: true, method: :put do |form| %>
                            <div class="mb-3">
                                <%= form.label :title %>
                                <%= form.text_field :title, class: "form-control" %>
                            </div>
                            <div class="mb-3">
                                <%= form.label :subtitle %>
                                <%= form.text_field :subtitle, class: "form-control" %>
                            </div>
                            <div class="mb-3">
                                <%= form.label :description %>
                                <%= form.text_area :description, class: "form-control" %>
                            </div>

                            <div class="mb-3">
                                <%= form.label :date_started %>
                                <%= form.date_field :date_started %>
                            </div>

                            <div class="mb-3">
                                <%= form.label :shared_notes %>
                                <%= form.text_area :shared_notes, class: "form-control" %>
                            </div>
                            <div class="mb-3">
                                <%= form.label :private_notes %>
                                <%= form.text_area :private_notes, class: "form-control" %>
                            </div>

                            <div class="mb-3">
                                <%= form.label :public %>
                                <%= form.check_box :public, class: "form-check-input" %>
                            </div>
                            <div class="mb-3">
                                <%= form.label :archived %>
                                <%= form.check_box :archived, class: "form-check-input" %>
                            </div>

                            <%= form.submit "Save", data: {turbo: false}, class: "btn btn-primary" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>

<div class="container m-5">
    <h1><%= @adventure['title'] %></h1>
    <p><a href="<%= "#{campaigns_path}/#{@campaign['slug']}" %>">Go to Campaign</a></p>
    <h4><%= @adventure['subtitle'] %></h4>
    <p><%= @adventure['description'] %></p>
    <p>Dates: <%= @adventure['date_started'] %> - <%= @adventure['date_ended'] %></p>

    <% if @is_owner %>
        <h3 class="mt-5">Private Notes:</h3>
        <p><%= markdown @adventure['private_notes'] %></p>
    <% end %>

    <h3 class="mt-5">Shared Notes:</h3>
    <p><%= markdown @adventure['shared_notes'] %></p>
</div>

<div class="container m-5">
    <h4>Comments</h4>
    <ul class="list-group list-group-flush mb-3">
        <% for comment in @comments %>
            <li class="list-group-item">
                <strong><%= comment.user.username %></strong>
                <p class="mb-0"><small style="font-size: 12px; color: #777; padding-top: 0;"><%= comment.created_at.to_formatted_s(:short) %> UTC</small></p>
                <%= markdown comment.text %>
            </li>
        <% end %>
    </ul>

    <% if is_logged_in? %>
        <%= form_with(model: [@adventure, Comment.new], local: true) do |form| %>
            <div class="mb-3">
                <%= form.label :text, "Add comment" %>
                <%= form.text_area :text, placeholder: "Add a comment...", class: "form-control" %>
                <%= form.hidden_field :adventure_id, value: @adventure.id %>
            </div>
            <%= form.submit "Add Comment", class: "btn btn-primary" %>
        <% end %>
    <% end %>
</div>