<div class="container mt-8 stack-sm">
    <h1 class="heading-mega">Magic Items</h1>
</div>

<% if @my_items.length > 0 %>
    <section class="container mt-8 mb-12 shallow-stack-sm">
        <h2 class="heading-large">My Magic Items</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Rarity</th>
                    <th>Description</th>
                    <th>Save</th>
                </tr>
            </thead>
            <tbody>
                <% @my_items.each do |item| %>
                    <tr>
                        <td>
                            <strong><a href=""><%= item['name'] %></a></strong>
                        </td>
                        <td><%= to_title item['rarity'] %></td>
                        <td><%= markdown truncate(item['desc'], length: 180) %></td>
                        <td><%= save_magic_item_button item['slug'] %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </section>
<% end %>

<section>
    <div class="container-small mt-12 mb-2 shallow-stack-sm">
        <h2 class="heading-large">Search All Magic Items</h2>
        <form action="/magic-items/" method="GET" class="form">
            <div class="form-item">
                <label for="search">Search Items</label>
                <input class="input" type="text" name="search" value="<%=params[:search]%>" placeholder="Search..." class="form-control" aria-label="Search magic items">
            </div>
            <div class="form-item">
                <label for="rarity">Rarity</label>
                <select class="input" name="rarity" id="rarity" class="form-select" aria-label="Filter by item rarity">
                    <option value="">All</option>
                    <option value="common">Common</option>
                    <option value="uncommon">Uncommon</option>
                    <option value="rare">Rare</option>
                    <option value="very rare">Very Rare</option>
                    <option value="legendary">Legendary</option>
                </select>
            </div>

            <input type="submit" value="Search" class="button button-primary button-small mr-2">
            <%= link_to "Clear Filters", magic_items_path %>
        </form>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Rarity</th>
                    <th>Description</th>
                    <th>Save</th>
                </tr>
            </thead>
            <tbody>
                <% @all_items.each do |item| %>
                    <tr>
                        <td>
                            <strong><a href=""><%= item['name'] %></a></strong>
                        </td>
                        <td><%= to_title item['rarity'] %></td>
                        <td><%= markdown truncate(item['desc'], length: 180) %></td>
                        <td><%= save_magic_item_button item['slug'] %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</section>