<div class="container mt-8 stack-sm">
    <h1 class="heading-mega">Magic Items</h1>
</div>

<% if @my_spells.any? %>
    <section class="container mt-8 mb-12 shallow-stack-sm">
        <h2 class="heading-large">My Spells</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Save</th>
                </tr>
            </thead>
            <tbody>
                <% @my_spells.each do |slug| %>
                    <tr>
                        <td>
                            <a href="<%= to_url spells_path, slug %>">
                                <strong><%= to_title slug %></strong>
                            </a>
                        </td>
                        <td>
                            <%= save_spell_button slug %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </section>
<% end %>

<section class="container mt-8 mb-12 shallow-stack-sm">
    <h2 class="heading-large">All Spells</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Save</th>
            </tr>
        </thead>
        <tbody>
            <% @all_spells.each do |slug| %>
                <tr>
                    <td>
                        <a href="<%= to_url spells_path, slug %>">
                            <strong><%= to_title slug %></strong>
                        </a>
                    </td>
                    <td>
                        <%= save_spell_button slug %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>
