<div class="container-content mt-8 stack-sm">
    <h1 class="heading-mega"><%= @spell['name'] %></h1>

    <p><strong>Description</strong></p>
    <p><%= markdown @spell['desc'] %></p>

    <p><strong>Higher Levels:</strong></p>
    <p><%= @spell['higher_level'] %></p>

    <p><strong>Range:</strong></p>
    <p><%= @spell['range'] %></p>

    <p><strong>Duration:</strong></p>
    <p>
        <%= @spell['duration'] %>
        (<%= @spell['concentration'] == true ? 'requires concentration' : 'does not require concentration' %>)
    </p>

    <p><strong>Level:</strong></p>
    <p><%= @spell['level'] %></p>

    <p><strong>
        <%= @spell['can_be_cast_as_ritual'] == true ? 'Can be cast as a ritual' : 'Cannot be cast as a ritual' %>
    </strong></p>

    <p><strong>Page: <%= @spell['page'] != '' ? @spell['page'] : '-' %></strong></p>
</div>