<div class="container mt-8 stack-sm">
    <h1 class="heading-mega">My Campaigns</h1>

    <% for campaign in @campaigns %>
        <div class="mb-4">
            <a href="<%= campaign_path campaign.slug %>">
                <strong><%= campaign.title %></strong>
            </a>
        </div>
    <% end %>

    <% if is_logged_in? %>
        <%= link_to "Add Campaign", campaigns_create_path, class: "button button-primary"  %>
    <% else %>
        <%= link_to "Log in", sign_in_path %> or <%= link_to "sign up", sign_up_path %> to create campaigns.
    <% end %>
</div>