<div class="container mt-8 shallow-stack-sm">
    <h1 class="heading-mega">Create New Campaign</h1>

    <div class="container-small">
        <%= form_with model: @campaign, url: campaigns_create_path, class: "form", local: true do |form| %>
            <% if @campaign.errors.any? %>
                <div class="alert alert-error my-2">
                    <% @campaign.errors.full_messages.each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>
            <% end %>

            <div class="form-item">
                <%= form.label :title %>
                <%= form.text_field :title, class: "input", placeholder: "My Campaign" %>
            </div>
            
            <%= form.submit "Create", data: {turbo: false}, class: "button button-primary" %>
        <% end %>
    </div>
</div>