<div class="container my-5">
    <h1>Create New Campaign</h1>
</div>

<div class="container mb-5">
    <div class="w-50">
        <%= form_with model: @campaign, url: campaigns_create_path, local: true do |form| %>
            <% if @campaign.errors.any? %>
                <div class="alert alert-danger">
                    <% @campaign.errors.full_messages do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>
            <% end %>

            <div class="mb-3">
                <%= form.label :title %>
                <%= form.text_field :title, class: "form-control", placeholder: "My Campaign" %>
            </div>
            
            <%= form.submit "Create", data: {turbo: false}, class: "btn btn-primary" %>
        <% end %>
    </div>
</div>