<div class="container mt-8">
    <div class="grid stack-sm">
        <div class="column column-6 stack-sm">
            <h1 class="heading-mega"><%= @campaign['title'] %></h1>
            <h2 class="heading-medium"><%= @campaign['subtitle'] %></h2>
            <p>Dates: <%= @campaign['date_started'] %> - <%= @campaign['date_ended'] %></p>

            <h2 class="heading-medium">Description</h2>
            <div class="stack-xs markdown"><%= markdown @campaign['description'] %></div>

            <h2 class="heading-medium">Shared Notes</h2>
            <div class="stack-xs markdown"><%= markdown @campaign['shared_notes'] %></div>

            <% if is_owner?(@campaign) %>
                <h2 class="heading-medium">Private Notes</h2>
                <div class="stack-xs markdown"><%= markdown @campaign['private_notes'] %></div>
            <% end %>
        </div>


        <div class="column column-6">
            <h2 class="heading-medium">Adventures</h2>
            <% for adventure in @adventures %>
                <div class="my-2">
                    <a href="<%= adventure_path @campaign['slug'], adventure['slug'] %>">
                        <%= adventure['title'] %>
                        <% if adventure['date_started'] %>(<%= adventure['date_started'] %>)<% end %>
                    </a>
                </div>
            <% end %>
            <% if is_owner? @campaign %>
                <%= link_to "New Adventure", "/campaigns/#{@campaign["slug"]}/adventures/create", class: "button button-primary button-small mt-2" %>
            <% end %>
        </div>
    </div>


    <% if is_owner? @campaign %>        
        <div class="container mt-4 mb-8 shallow-stack-sm">
            <div id="edit-modal" class="modal hidden">
                <div class="modal-box">
                    <%= render partial: "shared/edit_plan", locals: { form_model: @campaign, form_url: campaign_path(@campaign['slug']), type: 'Campaign' } %>
                </div>
            </div>

            <button
                onclick="document.getElementById('edit-modal').classList.remove('hidden')"
                class="button button-primary button-small"
                >Edit Campaign</button>
        </div>
    <% end %>


    <div class="container-content mt-4 mb-8 shallow-stack-sm">
        <h2 class="heading-medium">Comments</h2>
        <% for comment in @comments %>
            <div class="card p-4 pb-7 border-dark-mid border-top">
                <strong><%= comment.user.username %></strong>
                <p class="mb-0"><small style="font-size: 12px; color: #777; padding-top: 0;"><%= comment.created_at.to_formatted_s(:short) %> UTC</small></p>
                <div class="stack-xs markdown">
                    <%= markdown comment.text %>
                </div>
            </div>
        <% end %>
        <% if @comments.empty? %>No comments<% end %>

        <% if is_logged_in? %>
            <%= form_with(model: [@campaign, Comment.new], class: "form", local: true) do |form| %>
                <div class="form-item">
                    <%= form.label :text, "Add comment (markdown supported)" %>
                    <%= form.text_area :text, placeholder: "Add a comment...", class: "input", rows: 3 %>
                </div>
                <%= form.hidden_field :campaign_id, value: @campaign.id %>
                <%= form.submit "Add Comment", class: "button button-primary button-small" %>
            <% end %>
        <% end %>
    </div>
</div>